<div id="categories" class="wrapper-categories categories">
  <ul class="categories-list">
    <li class="categories-item">All categories</li>
    <li class="categories-item">Advice How-To and Miscellaneous</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
    <li class="categories-item">All categories</li>
  </ul>
</div>
