<div class="wrapper-support support">
  <div class="support-first-wrapper">
    <h3 class="support-title">Support Ukraine</h3>
    <svg class="support-herb" width="20" height="30">
      <use href="./img/symbol-defs.svg#icon-gerb"></use>
    </svg>
  </div>
  <div class="support-second-wrapper">
    <ul class="support-list"></ul>
  </div>
  <div class="support-more">
    <svg class="support-arrow" width="22" height="22">
      <use href="./img/symbol-defs.svg#icon-down"></use>
    </svg>
  </div>
</div>
