<div class="wrapper-support support">
  <div class="support-first-wrapper">
    <h3 class="support-title">Support Ukraine</h3>
    <svg class="support-herb" width="20" height="30">
      <use href="./img/symbol-defs.svg#icon-gerb"></use>
    </svg>
  </div>
  <div class="support-second-wrapper">
    <ul class="support-list">
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">01</p>
          <!-- <img 
          srcset="./images/about/descktop/2.jpg 1x,
          ./images/about/descktop/2@2x.jpg 2x"
          src="./images/about/descktop/2.jpg" 
          alt="дизайнер делает макет" 
          width="370"/> -->
          <img class="support-logo" src="./img/support/hope.png" alt="hope"
        /></a>
      </li>
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">02</p>

          <img
            class="support-logo"
            src="./img/support/save_children.png"
            alt="save the children"
        /></a>
      </li>
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">03</p>

          <img class="support-logo" src="./img/support/hope.png" alt="hope"
        /></a>
      </li>
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">04</p>

          <img class="support-logo" src="./img/support/hope.png" alt="hope"
        /></a>
      </li>
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">05</p>

          <img class="support-logo" src="./img/support/hope.png" alt="hope"
        /></a>
      </li>
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">06</p>

          <img class="support-logo" src="./img/support/hope.png" alt="hope"
        /></a>
      </li>
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">07</p>

          <img class="support-logo" src="./img/support/hope.png" alt="hope"
        /></a>
      </li>
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">08</p>

          <img class="support-logo" src="./img/support/hope.png" alt="hope"
        /></a>
      </li>
      <li class="support-item">
        <a class="support-link" href="">
          <p class="support-number">09</p>

          <img class="support-logo" src="./img/support/hope.png" alt="hope"
        /></a>
      </li>
    </ul>
  </div>
  <div class="support-more">
    <svg class="support-arrow" width="22" height="22">
      <use href="./img/symbol-defs.svg#icon-down"></use>
    </svg>
  </div>
</div>
