<header class="content-contaiter-box">
  <div class="header-container">
    <div class="partial-header-container">
    <nav class="nav">
      <div class="wrapper-logo">
        <div class="container-logo"></div>
      </div>
      <ul class="nav-list">
        <li class="nav-link header-home">
          <a class="nav-link" href="./index.html">home</a>
        </li>

        <li class="nav-link header-shopping">
          <a class="nav-link" href="./shopping.html"
            >shopping list
            <svg class="header-svg-bag active-svg" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-bag"></use>
            </svg>
          </a>
        </li>
      </ul>

      <label class="header-switch">
        <input class="header-switch-input" type="checkbox" />
        <span class="header-switch-slider"></span>
      </label>
    </nav>
    <button class="burger" type="button">
      <div class="burger-line"></div>
      <div class="burger-line"></div>
      <div class="burger-line"></div>
    </button>

    <div class="button-container">
      <button class="sign-up-button" type="button" id="openModalButton">
        <span class="signUp-link" id="signUpLink">
          Sign up
          <svg class="sign-up-arrow" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-arrow_right"></use>
          </svg>
        </span>
      </button>

      <button class="user-button" style="display: none">
        <i class="ellipse">
          <svg class="user-icon" width="19" height="19">
            <use href="./img/symbol-defs.svg#icon-user"></use>
          </svg>
        </i>
        <span></span>
        <svg class="down-icon" width="23" height="26">
          <use href="./img/symbol-defs.svg#icon-down"></use>
        </svg>
      </button>

      <button
        class="log-out"
        type="button"
        id="logOutButton"
        style="display: none"
      >
        <span class="signUp-link">
          Log out
          <svg class="sign-up-arrow" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-arrow_right"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
  </div>
</header>
