<header class="content-contaiter-box">
  <div class="header-container">
    <nav class="nav">
      <div class="wrapper-logo">
        <div class="container-logo">
          <a class="logo-header-link" href="./index.html">
            <svg class="header-svg-logo" width="109" height="28">
              <use href="./img/symbol-defs.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <button class="header-button-home active-button" type="button">
            <a href="./index.html" class="nav-link">home</a>
          </button>

        </li>

        <li class="nav-item">
          <a href="./shopping.html" class="nav-link header-shopping not-active-button">shopping list
            <svg class="header-svg-bag" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-bag"></use>
            </svg>
          </a>
        </li>
      </ul>
      <label class="header-switch">
        <input class="header-switch-input" type="checkbox">
        <span class="header-switch-slider"></span>
      </label>
    </nav>
    <button class="burger-menu js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="header-burger" width="28" height="28">
        <use href="./img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="button-container">
    <button class="sign-up-button" type="button" id='openModalButton'>
      <p class="signUp-link" id="signUpLink">Sign up
      <svg class="sign-up-arrow" width="20" height="20">
        <use href="./img/symbol-defs.svg#icon-arrow_right"></use>
      </svg></p>
    </button>
   
    <button class="user-button" style="display: none;"> 
      <div class="ellipse">
      <svg class="user-icon" width="19" height="19">
        <use href="./img/symbol-defs.svg#icon-user"></use>
      </svg>
    </div>
      <p></p>
      <svg class="down-icon" width="23" height="26">
        <use href="./img/symbol-defs.svg#icon-down"></use>
      </svg>
    </button>
    </div>
  </div>
</header>
