
<div class="menu-container js-menu-container" id="mobile-menu">


    <div class="mobile-header">
        <button class="modal-button js-close-menu">
            <svg class="modal-icon" viewBox="0 0 20 20" width="28" height="28">
                <use href="../img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>

        <nav class="mobile-header-nav">
            <div class="wrapper-logo">
                <div class="mobile-container-logo">
                    <a class="logo-header-link" href="./index.html">
                        <svg class="header-svg-logo" width="109" height="28">
                            <use href="./img/symbol-defs.svg#icon-logo"></use>
                        </svg>

                    </a>
                </div>
            </div>
            <div class="mobile-switch">
                <label class="header-switch">
                    <input class="header-switch-input" type="checkbox">
                    <span class="header-switch-slider"></span>
                </label>
            </div>
        </nav>
    </div>

    <button class="mobile-button-signUp" type="button">
        <a href="../authorization.html" class="signUp-link">Sign up<svg class="mobile-arrow-icon-signUp" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-arrow_right"></use>
            </svg></a></button>

    <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
            <button class="mobile-header-button-home" type="button">
                <a href="./index.html" class="header-nav-link">home</a>
            </button>

        </li>

        <li class="mobile-nav-item">
            <a href="../shopping.html" class="nav-link mobile-header-shopping">shopping list
                <svg class="mobile-header-svg-bag" width="20" height="20">
                    <use href="./img/symbol-defs.svg#icon-bag"></use>
                </svg>
            </a>
        </li>
    </ul>

    <button class="mobile-button-logOut" type="button">
        <a href="" class="mobile-button-link">Log out
            <svg class="mobile-arrow-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-arrow_right"></use>
            </svg>
        </a></button>
    <div class="mobile-thumb-img">
        <img class="mobile-bckg-img" srcset="./img/mobile_menu/mobile_background@1x.png 1x, ./img/mobile_menu/mobile_background@2x.png 2x "
            src="./img/mobile_menu/mobile_background@1x.png" alt="background-books" width="768" height="440">
    </div>
</div>


<!-- Mobile menu script -->

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>
