<section>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <!-- ------------------------------------------------------------------- -->
    <button
      class="mobile-button-signUp"
      type="button"
      id="mobileOpenModalButton"
    >
      <p class="signUp-link" id="signUpLink">
        Sign up
        <svg class="mobile-arrow-icon-signUp" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-arrow_right"></use>
        </svg>
      </p>
    </button>

    <ul class="mobile-nav-list">
      <li class="mobile-nav-item">
        <a href="./index.html" class="header-nav-link btn-home">home</a>
      </li>

      <li class="mobile-nav-item">
        <a href="./shopping.html" class="nav-link btn-shopping"
          >shopping list
          <svg class="mobile-header-svg-bag" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-bag"></use>
          </svg>
        </a>
      </li>
    </ul>

    <a href="" class="mobile-button-link"
      >Log out
      <svg class="mobile-arrow-icon" width="20" height="20">
        <use href="./img/symbol-defs.svg#icon-arrow_right"></use>
      </svg>
    </a>

    <div class="mobile-thumb-img">
      <img
        class="mobile-bckg-img"
        srcset="
          ./img/mobile_menu/mobile_background@1x.png 1x,
          ./img/mobile_menu/mobile_background@2x.png 2x
        "
        src="./img/mobile_menu/mobile_background@1x.png"
        alt="background-books"
        width="768"
        height="440"
      />
    </div>
  </div>
</section>
