<section>
  <div class="container">
    <div class="modal">
      <div class="modal__body">
        <svg class="modal__body-close" width="28" height="28">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
        <div class="modal__content"></div>
        <div class="modal__local-container">
          <button class="modal__body-btn-status">add to shoppng list</button>
          <p class="modal__congratulation">
            Сongratulations! You have added the book to the shopping list. To
            delete, press the button “Remove from the shopping list”.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
