<div class="team">
  <div class="team-first-wrapper">
    <p class="team-title">© 2023 | Developed with 🔥 by GoIT Students</p>
  </div>

  <ul class="team-list">
    <!-- <li class="team-item">
      <a href="https://github.com/olgatenison" rel="noopener noreferrer">
        <svg class="git-ico" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
      <a
        href="https://www.linkedin.com/in/olga-tenison/"
        rel="noopener noreferrer"
      >
        <svg class="in-ico" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>

      <a
        href="https://github.com/olgatenison"
        rel="noopener noreferrer"
        class="team-name"
        >Olga Tenison</a
      >
    </li> -->
  </ul>
</div>
