#modal {
    font-family: Arial, sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 46, 232, 1);
    z-index: 322;
    margin: 0;
    padding: 0;
  }

.form-container {
    background-color: rgba(246, 246, 246, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: rgba(17, 17, 17, 1);
    border: 2px solid rgba(17, 17, 17, 1);
    border-radius: 18px;
    width: 500px;
    margin: 0 auto; 
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container input {
    margin-bottom: 28px; 
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgba(17, 17, 17, 1);
    border-radius: 4px;
    font-size: 16px;
    border-radius: 40px;
    padding-left: 40px ;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.form-container input:focus{
    font-size: 12px;
    animation: fontAnimation 0.1s ease-out;
}

@keyframes fontAnimation {
    from {
        font-size: 16px;
    }
    to {
        font-size: 12px;
    }
}

.form-container button {
    margin-bottom: 20px; 
    margin-top: 10px; 
    background-color: rgba(17, 17, 17, 1);
    color: rgba(243, 243, 243, 1);
    cursor: pointer;
    border-radius: 40px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    transition: all 0.8s ease-out;
    padding-top: 18px;
    padding-bottom: 18px;
}

.form-container button:hover {
    background: linear-gradient(to left, rgb(53, 17, 170),rgba(79, 46, 232, 1));
    background-position: -100% 0;
    color: rgba(243, 243, 243, 1);
    opacity: 0.8;
  }
        form{
            margin-top: 30px;
            margin-bottom: 40px;
            margin-left: 40px;
            margin-right: 40px;
}

        .form-container .links {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 10px;
        }

        .active {
            color: rgba(79, 46, 232, 1);
            transition: color 0.3s ease-in-out;
            position: relative;
        }
        .active::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            height: 4px;
            background: linear-gradient(to right, #1024ff, #1c1d2b);
            border-radius: 2px;
            width: 100%;
            transition: width 0.4s ease-in-out;
        }
       

        .sign-in {
            color: rgba(17, 17, 17, 0.5);
            transition: color 0.6s ease-in-out;
            position: relative;
        }

        .sign-in:hover {
            color: rgba(79, 46, 232, 1);

        }
       
        .form-container .links a {
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
        }


        .close-icon{
            stroke: rgba(17, 17, 17, 1);
            display: flex;
            margin-left: 95%;
            margin-top: 1%;
            cursor: pointer;
          }
          .close-icon:hover {
            stroke: #6900e1;
            transition: stroke 0.3s ease; 
        }

        .input-container{
            position: relative;
        }

        .input-icon{
            position: absolute;
            left: calc(87% + 10px);
            top: 14px;
            stroke: #111111;
            fill: transparent;
        }


        #togglePassword{
            cursor: pointer;
        }

        #togglePasswordLogin{
            cursor: pointer;
        }

        #loginEmailIcon{
            cursor: pointer;
        }

        #emailIcon{
            cursor: pointer;
        }

        #togglePassword:hover, #togglePasswordLogin:hover, #loginEmailIcon:hover, #emailIcon:hover{
            stroke: #00b0e1;
            transition: stroke 0.6s ease; 
        }


        .modal-open {
            overflow: hidden;
          }
          
          .notiflix-notify {
            z-index: 10000; 
          }



          @media screen and (max-width: 768px) {
            .form-container {
              max-width: 100%;
            }
            .form-container input{
                max-width: 100%;
            }
          }