/*-------------- Support Ukraine --------------*/
/* змінив значення max-width на width */
.wrapper-support {
  width: 335px;
  height: 484px;
  background: linear-gradient(
    180deg,
    var(--third-color) 0%,
    var(--fifth-color) 100%
  );
  border-radius: 16px;
  padding: 24px 40px;
}

.support-first-wrapper {
  display: flex;
  padding-bottom: 35px;
}

.support-second-wrapper {
  max-height: 320px;
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.support-arrow {
  fill: #4f2ee8;
}

.support-title {
  color: #fff;
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 22px;

  line-height: 24px;
  padding-left: 10px;
}

.support-herb {
  display: block;
  margin-left: 12px;
  fill: #fff;
}

.support-link {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.support-number {
  color: #fff;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;

  line-height: 18px;
  padding-right: 16px;
}

.support-logo {
  height: 33px;
  width: auto;
}

.support-more {
  content: '';
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/*------------- для прокрутки ------------*/

.open {
  justify-content: end;
}
.isopen {
  transform: rotate(180deg);
}

/*--------------- Hovers -----------------*/

.support-link:hover,
.support-link:focus,
.support-link:active {
  background-color: #502ee86f;
  border-radius: 12px;
}

.support-more:hover,
.support-more:focus,
.support-more:active {
  border: #4f2ee8 2px solid;
}

.support-more:hover .support-arrow,
.support-more:focus .support-arrow,
.support-more:active .support-arrow {
  fill: #4f2ee8;
}

/*--------------- Мedia -----------------*/

@media screen and (min-width: 1440px) {
  .wrapper-support {
    width: 356px;
  }

  .support-title {
    color: #fff;
    font-family: 'DM Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }

  .support-number {
    color: #fff;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-right: 16px;
  }
}
