.header {
  font-family: DM Sans, sans-serif;
}

.header-container {
  display: flex;
  margin: 0 auto;
  padding: 18px 20px;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  width: 375px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1392px) {
  .header-container {
    width: 1392px;
  }
}

.nav {
  display: flex;
  margin-right: 14px;
  align-items: center;
}

.wrapper-logo {
  display: flex;
  margin-left: 20px;
  margin-right: 144px;
}

@media only screen and (min-width: 768px) {
  .wrapper-logo {
    margin-left: 32px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1392px) {
  .wrapper-logo {
    margin-left: 24px;
    margin-right: 76px;

  }
}


.nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 101px;

  }
}

@media only screen and (min-width: 1392px) {
  .nav-list {
    gap: 24px;
    margin-right: 745px;
  }
}


.nav-link {
  display: flex;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.header-button-home {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 36px;
  background: #EAC645;
  border: none;
  font-weight: 700;
  
}

.header-button-shopping {
  display: flex;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  
}

.header-active {}

.header-svg-bag {
  display: flex;
  margin-left: 4px;
}

.header-switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background: linear-gradient(#4F2EE8,
      #DCDCDC);
  border-radius: 50px;
  z-index: 2;
}

.header-switch-input {
  height: 0;
  width: 0;
  opacity: 0;
}

.header-switch-slider {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FFFFFF;
  border-radius: 50px;
  margin-bottom: 1px;
  margin-top: 1px;
  transition: .3s;
}

.header-switch-slider::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  /* top: 2px; */
  left: 1px;
  /* bottom: 2px; */
  right: 2px;
  background-color: #FFFFFF;
  border-radius: 50px;
  margin-bottom: 1px;
  transition: .3s;
}

.header-switch-input:checked,
.header-switch-slider {
  background: linear-gradient(#4F2EE8,
      #DCDCDC);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
}

.header-switch-input:checked+.header-switch-slider::before {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}


.burger-menu {
  display: flex;
  background-color: transparent;
  border: none;
}
.header-burger {
  stroke: #111111;
  background-color: #F6F6F6;
}

@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.header-burger:hover,
.header-burger:focus {
  stroke: #4F2EE8;
}