.header-container {
  display: flex;
  font-family: DM Sans, sans-serif;
  /* margin: 0 auto; */
  /* padding: 13px 0px; */
  position: relative;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--text-color-second);
  /* width: 375px; */
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    justify-content: flex-start;
    padding: 13px 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-container {
    width: 1440px;
    margin: 0 auto;
    /* margin-left: auto; */
    /* margin-right: 24px; */
    align-items: center;
  }
}

.container-logo {
  align-items: center;
}

.logo-header-link {
  display: flex;
}

.header-svg-logo {
  background-image: url(../img/symbol-defs.svg#icon-logo);
}

.nav {
  display: flex;
  /* margin-right: 14px; */
  align-items: center;
}

.wrapper-logo {
  display: flex;
  /* margin-left: 20px; */
  margin-right: 144px;
}

@media only screen and (min-width: 768px) {
  .wrapper-logo {
    margin-left: 32px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper-logo {
    /* margin-left: 24px; */
    margin-right: 76px;
  }
}


.nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 87px;

  }
}

@media only screen and (min-width: 1200px) {
  .nav-list {
    /* gap: 24px; */
    margin-right: 745px;
  }
}

.nav-link {
  display: flex;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.56px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--third-color);
}



.header-button-home {
  display: flex;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  border: none;
  /* padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 36px;
  background: var(--fourth-color);
  border: none;
  font-weight: 700; */

}



.header-shopping {
  font-family: DM Sans, sans-serif;
  width: 118px;
}

@media only screen and (min-width: 768px) {
  .header-shopping {

    justify-content: center;
    padding: 8px 8px;
  }
}

.not-active-button {
  display: flex;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  color: var(--text-color-second);
  background-color: transparent;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.active-button-shopping {
  /* padding: 8px 16px; */
  align-items: flex-start;
  /* gap: 8px; */
  border-radius: 36px;
  background: var(--fourth-color);
  border: none;
  font-weight: 700;
  color: var(--static-color);
  width: 156px;
}

@media only screen and (min-width: 1200px) {
  .active-button-shopping {
    padding: 8px 0;
  }
}


.header-button-shopping {
  /* display: flex;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  color: var(--text-color-second); */
}

/* .header-active {} */
.header-svg-logo {
  margin-left: 0;
}

.header-svg-bag {
  display: flex;
  margin-left: 4px;
  fill: var(--text-color-second);
}

.active-svg {
  fill: var(--static-color);
}

.header-switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background: var(--switch-color);
  border-radius: 50px;
  z-index: 2;
}

.header-switch-input {
  height: 0;
  width: 0;
  opacity: 0;
}

.header-switch-slider {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--second-color);
  border-radius: 50px;
  margin-bottom: 1px;
  margin-top: 1px;
  transition: .3s;
}

.header-switch-slider::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  /* top: 2px; */
  left: 1px;
  /* bottom: 2px; */
  right: 2px;
  background-color: #FFFFFF;
  border-radius: 50px;
  margin-bottom: 1px;
  transition: .3s;
}

.header-switch-slider-dark {
  margin-left: 20px;
}

.header-switch-slider-light {
  margin-right: 20px;
}


.header-switch-input:checked,
.header-switch-slider {
  background: var(--switch-color);
  box-shadow: var(--switch-box-shadow-color);
}

.header-switch-input:checked+.header-switch-slider::before {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}

.active-button {
  padding: 8px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 36px;
  background: var(--fourth-color);
  border: none;
  font-weight: 700;
  color: var(--static-color);
}

.burger-menu {
  display: flex;
  background-color: transparent;
  border: none;
}

.header-burger {
  stroke: var(--text-color-second);
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.header-burger:hover,
.header-burger:focus {
  stroke: var(--third-color);
}

.sign-up-button {
    width: 184px;
      height: 45px;
      flex-shrink: 0;
      border-radius: 18px;
      border: 1.5px solid var(--text-color-second);
      background: var(--third-color);
      color: var(--second-color);
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
    
      letter-spacing: -0.56px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.5s, color 0.5s;
}

.sign-up-button:hover {
  background-color: rgba(17, 17, 17, 1);
  color: rgba(79, 46, 232, 1);
}

.sign-up-arrow {
  stroke: rgba(234, 198, 69, 1);

}

.close-icon {
  stroke: rgba(17, 17, 17, 1);
  display: flex;
  margin-left: 95%;
  margin-top: 1%;
  cursor: pointer;
}

.close-icon:hover {
  stroke: #6900e1;
  transition: stroke 0.3s ease;
}




.user-button{
  background-color: #4F2EE8;
  border: none;
  border-radius: 36px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 0.5s, color 0.5s;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 184px;
}
.user-button:hover {
  background-color: rgba(17, 17, 17, 1);
  color: rgba(79, 46, 232, 1);
}
.ellipse{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-icon{
  fill: #4F2EE8;
}

.down-icon{
  fill: #FFFFFF;
}

#logOutButton {
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease; 
}

#logOutButton.fadeIn {
  opacity: 1;
  display: flex;
}


.log-out{
  border-radius: 18px;
  background-color: #FFFFFF;
  border: 1.5px solid #111111;
  padding: 14px 14px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 184px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}