body {
    background-color: #F6F6F6;
 
 }
 
 .section-product {
     color: #B4AFAF;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 18px; 
     letter-spacing: 0.42px;
     text-transform: uppercase;
 
 }
 
 .sections-title {
     margin-bottom: 18px;
     font-size: 14px;
 }
 
 @media screen and (min-width: 768px) and (max-width: 1199px) {
     .sections-title {
         line-height: 24px;
     }
   }
 
   .thomb-book-section {
     width: 335px;
     margin-left: auto;
     margin-right: auto;
   }
   @media screen and (min-width: 768px) and (max-width: 1199px) {
     .thomb-book-section {
         width: 704px;
     }
   }
   @media screen and (min-width: 1200px) {
     .thomb-book-section {
         width: 996px;
         margin-left: auto;
         margin-right: 24px;
     }
   }
 
 .section-book {
     width: 335px;
   margin-left: auto;
   margin-right: auto;
 }
 @media screen and (min-width: 768px) and (max-width: 1199px) {
     .section-book {
         display: flex;
         width: 704px;
         gap: 25px;
     }
   }
   @media screen and (min-width: 1200px) {
     .section-book {
         display: flex;
         width: 996px;
         gap: 24px;
     }
   }
 
 .book-card {
     display: none;
     margin-bottom: 8px;
     transition: box-shadow 250ms linear, transform 250ms ease-in-out;
     border-radius: 8px;
 }
 .book-card:hover {

  box-shadow: 0 20px 16px -16px rgba(0,0,0,0.6);
}
 .book-card:nth-child(2) {
     display: block;
     width: 335px;
 }
 @media screen and (min-width: 768px) and (max-width: 1199px) {
     .book-card {
         margin-bottom: 20px;
     } 
   } 
   @media screen and (min-width: 768px) and (max-width: 1199px) {
     .book-card:nth-child(-n+3) {
         display: block;
         width: 218px;
     }  
   } 
   @media screen and (min-width: 1200px) {
     .book-card {
         margin-bottom: 32px;
     }
   }
   @media screen and (min-width: 1200px) {
     .book-card:nth-child(-n+5) {
         display: block;
         width: 180px;
     }
     
   } 

 
 .book-card-photo {
     display: block;
     width: 100%;
     border-radius: 8px;
 }
 .book-card-title {
     color: #111;
     font-size: 16px;
     font-weight: 700;
     letter-spacing: -0.64px;
     margin-top: 14px;
     margin-bottom: 4px;
 
 }
 
 .section-book-btn {
     display: block;
 
     margin-left: auto;
     margin-bottom: 40px;
 
     padding: 14px 28px;
     background-color: rgba(0, 0, 0, 0);
 
     gap: 10px;
     border-radius: 40px;
     border: 2px solid #4F2EE8;
     color: #111;
 
     font-family: DM Sans;
     font-size: 14px;
     font-style: normal;
     font-weight: 700;
     line-height: 18px; 
     letter-spacing: -0.14px;
     text-transform: uppercase;
 }


 .section-book-btn:hover {
  color: #FFFFFF;
  background-color: #4F2EE8;
 }

 .section-book-btn:focus {
  color: #FFFFFF;
  background-color: #4F2EE8;
 }



