/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


@import url('./header.css');
@import url('./home.css');
/* @import url('./authorization.css'); */
@import url('./home.css');
@import url('./reset.css');
@import url('./shopping.css');
@import url('./loader-buks.css');
@import url('./scrollUp.css');
@import url('./categories.css');
@import url('./donates.css');

:root {
  --main-color: #d0d0d0;
  --second-color: #ffffff;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --text-color-main: #b4afaf;
  --text-color-second: #111111;
  --text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  --fifth-color: #b1a5ef;
  --thumb-color: #e0e0e0;
}
.light-theme {
  --main-color: #d0d0d0;
  --second-color: #ffffff;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --text-color-main: #b4afaf;
  --text-color-second: #111111;
  --text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  --thumb-color: #e0e0e0;
}
.dark-theme {
  --main-color: #202024;
  --second-color: #111111;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --fifth-color: #b1a5ef;
  --text-color-main: #b4afaf;
  --text-color-second: #ffffff;
  --text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.15);
  --thumb-color: #171719;
}
