/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./moder-normalize.min.css');
@import url('./header.css');
@import url('./home.css');
@import url('./shopping.css');
@import url('./loader-buks.css');
@import url('./scrollUp.css');
@import url('./categories.css');
@import url('./donates.css');
@import url('./pop_up.css');
@import url('./mobile-menu.css');
@import url('./authorization.css');
@import url('./team.css');
@import url('./burger.css');

:root {
  --main-color: #d0d0d0;
  --second-color: #ffffff;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --text-color-main: #b4afaf;
  --text-color-second: #111111;
  --text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  --fifth-color: #b1a5ef;
  --thumb-color: #e0e0e0;
  --aside: #4f2ee8;
  --switch-color: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  --switch-box-shadow-color: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  --static-color: #111111;
  --congratulation-pop-up: rgba(17, 17, 17, 0.5);
  --bgc-pop-up: rgba(17, 17, 17, 0.4);
  /* Стилі для Amazon, Apple Books */
  --state-amazon: grayscale(100%);
  --wight-state-book: grayscale(100%);
  --state-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  /* Dark theme */
  --state-amazon: brightness(0) invert(1);
  --dark-state-book: grayscale(100%);
  --state-hover: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}
.light-theme {
  --background-color-header: #ffffff;
  --background-color: #f6f6f6;
  --main-color: #d0d0d0;
  --second-color: #ffffff;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --text-color-main: #b4afaf;
  --text-color-second: #111111;
  --congratulation-pop-up: rgba(17, 17, 17, 0.5);
  --text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  --thumb-color: #e0e0e0;
  --aside: #4f2ee8;
  --switch-color: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  --switch-box-shadow-color: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  --clr-pop-up: rgba(17, 17, 17, 0.4);
  --state-amazon: grayscale(100%);
  --wight-state-book: grayscale(100%);
  --state-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  --clr-shopping-text: rgba(0, 0, 0, 0.6);
}
.dark-theme {
  --background-color-header: #111111;
  --background-color: #202024;
  --main-color: #202024;
  --second-color: #111111;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --fifth-color: #b1a5ef;
  --text-color-main: #b4afaf;
  --text-color-second: #ffffff;
  --congratulation-pop-up: rgba(255, 255, 255, 0.5);
  --text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.15);
  --thumb-color: #171719;
  --aside: #eac645;
  --switch-color: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  --switch-box-shadow-color: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  --clr-pop-up: rgba(255, 255, 255, 0.5);
  --state-amazon: brightness(0) invert(1);
  --state-book: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --clr-shopping-text: rgba(255, 255, 255, 0.6);
}
/* Amazon */
.data-amazon {
  width: 62px;
  height: 19px;
  filter: var(--state-amazon);
}
.data-amazon:hover {
  filter: var(--state-hover);
}
.data-amazon-book {
  width: 33px;
  height: 32px;
}
.data-amazon-book:hover {
  filter: var(--state-hover);
}
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-RegularItalic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

.header-container {
  background-color: var(--background-color-header);
}

@media screen and (min-width: 1200px) {
  .content-contaiter-box {
    width: 1440px;
  }

  .partial-container {
    width: 1392px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
  }
  /* .partial-categori-container {
    margin-top: 40px;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content-contaiter-box {
    width: 768px;
    margin: 0 auto;
  }
  .partial-categori-container {
    display: flex;
    gap: 32px;
    /* margin-top: 40px; */
    margin-bottom: 68px;
  }
  .partial-container {
    width: 704px;
    margin: 0 auto;
  }
  body {
    margin: 0 auto;
  }
}

.content-contaiter-box {
  margin: 0 auto;
  background-color: var(--background-color);
}
@media screen and (max-width: 767px) {
  .partial-categori-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    gap: 40px;
    margin-bottom: 40px;
  }
  .partial-container {
    width: 335px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .content-contaiter-box {
    width: 375px;
  }
  body {
    width: 375px;
    margin: 0 auto;
  }
}
