/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./home.css');
@import url('./reset.css');
@import url('./shopping.css');
@import url('./loader-buks.css');
@import url('./scrollUp.css');
@import url('./categories.css');
@import url('./donates.css');
@import url('./pop_up.css');
@import url('./mobile-menu.css');
/* @import url('./authorization.css'); */
@import url('./team.css');

:root {
  --main-color: #d0d0d0;
  --second-color: #ffffff;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --text-color-main: #b4afaf;
  --text-color-second: #111111;
  --text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  --fifth-color: #b1a5ef;
  --thumb-color: #e0e0e0;
  --switch-color: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  --switch-box-shadow-color: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  --static-color: #111111;
}
.light-theme {
  --background-color-header: #ffffff;
  --background-color: #f6f6f6;
  --main-color: #d0d0d0;
  --second-color: #ffffff;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --text-color-main: #b4afaf;
  --text-color-second: #111111;
  --text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  --thumb-color: #e0e0e0;
  --switch-color: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  --switch-box-shadow-color: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}
.dark-theme {
  --background-color-header: #111111;
  --background-color: #202024;
  --main-color: #202024;
  --second-color: #111111;
  --third-color: #4f2ee8;
  --fourth-color: #eac645;
  --fifth-color: #b1a5ef;
  --text-color-main: #b4afaf;
  --text-color-second: #ffffff;
  --text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.15);
  --thumb-color: #171719;
  --switch-color: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  --switch-box-shadow-color: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

body {
  background-color: var(--background-color);
}

.header-container {
  background-color: var(--background-color-header);
}

@media screen and (min-width: 1200px) {
  .content-contaiter-box {
    max-width: 1440px;
    margin: 0 auto;
  }

  .partial-container {
    max-width: 1392px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 40px;
    display: flex;
    gap: 40px;
  }
  .partial-categori-container {
    width: 356px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content-contaiter-box {
    /* max-width: 704px; */
    margin: 0 auto;
  }
  .partial-categori-container {
    display: flex;
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

.content-contaiter-box {
  margin: 0 auto;
  background-color: var(--background-color);
}

@media screen and (max-width: 767px) {
  .partial-categori-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .partial-container {
    margin: 0 auto;
  }
}
