.button {
  all: unset;
  display: inline-block;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--third-color);
  border: 5px solid var(--fifth-color);
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.8;
}

.button:hover,
.button:focus-visible {
  opacity: 0.6;
  border: none;
}

.button:active {
  opacity: 1;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  fill: currentColor;
  margin: 0 auto;
}

/* write your code here */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  30% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.page--back-to-top {
  position: fixed;
  z-index: 100;
  right: 40px;
  bottom: 64px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  animation-name: bounce;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.page--back-to-top_visible {
  opacity: 1;
  visibility: visible;
}