



.title{
    margin: 0;
    padding: 40px 162px 40px 20px;
    color: #111;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 118.75% */
    letter-spacing: -1.28px;
}

.title__accent{
    color: #4F2EE8;

}

@media only screen and (min-width: 768px) {
  .title {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 32px;
    line-height: 52px;
    font-size: 48px;
    
  }
}

@media only screen and (min-width: 1392px) {
  .title {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    line-height: 52px;
    font-size: 48px;
  }
}