/*--------------- Footer -----------------*/
footer {
  width: 100%;
  min-height: 300px;
  position: relative;
  background-color: var(--third-color);
}
.team {
  position: absolute;

  width: 100%;
  bottom: -400px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.team-first-wrapper {
  text-align: center;
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.team-pic {
  width: 30px;
  height: auto;
  background-color: var(--third-color);
  padding: 5px;
  padding-bottom: 62px;
}
.team-title {
  color: #fff;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  display: block;
  background-color: var(--third-color);
  padding-bottom: 50px;
  transition: all 0.3s ease 0s;
}

.team-list {
  margin: 0 auto;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
  column-gap: 55px;
  padding: 0 50px;
  background-color: var(--third-color);
}
.team-item {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.team-name {
  color: #fff;
  opacity: 0.6;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s ease 0s;

  line-height: 26px;
  padding-left: 10px;
}

/*--------------- Icons -----------------*/

.git-ico {
  width: 32px;
  height: 32px;
  fill: #fff;
  opacity: 0.6;
  padding-right: 5px;
  transition: all 0.3s ease 0s;
}
.in-ico {
  fill: #fff;
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}

/*--------------- Hovers -----------------*/

.team-first-wrapper:hover .team-title,
.team-first-wrapper:focus .team-title,
.team-first-wrapper:active .team-title {
  color: #ffee00;
}

.team-name:hover,
.team-name:focus,
.team-name:active {
  color: #fff;
  opacity: 1;
}

.git-ico:hover,
.git-ico:focus,
.git-ico:active,
.in-ico:hover,
.in-ico:focus,
.in-ico:active {
  fill: #fff;
  opacity: 1;
}

/*--------------- Мedia -----------------*/
@media screen and (min-width: 340px) and(max-width: 768px) {
  footer {
    width: 100%;
    min-height: 300px;
    position: relative;
    display: block;
  }
  .team {
    position: absolute;
    width: 100%;
    bottom: -400px;
    margin: 0 auto;
    margin-bottom: 50px;
    z-index: 4;
    background-color: var(--third-color);
  }
  .team-list {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  footer {
    width: 100%;
    min-height: 130px;
    position: relative;
    display: block;
  }
  .team {
    position: absolute;
    width: 100%;
    bottom: -400px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: var(--third-color);
  }
  .team-title {
    font-family: 'DM Sans';
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 50px;
  }
  .team-item {
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
  }
  .team-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 100px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    width: 100%;
    min-height: 300px;
    position: relative;
    display: block;
    background-color: var(--background-color);
  }
  .team {
    position: absolute;
    min-width: 1500px;
    bottom: -100px;

    margin: 0 auto;
    margin-bottom: 50px;
    z-index: 4;
    background-color: var(--third-color);
  }
  .team-title {
    font-family: 'DM Sans';
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 50px;
  }
  .team-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 100px;
    margin-bottom: 40px;
    background-color: var(--third-color);
    max-width: 1200px;
  }
  .team-item {
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
    padding-left: 72px;
  }
  .team-title {
    padding-top: 70px;
  }
  .team-pic {
    padding-top: 80px;
  }
}
